#rootnode{
    -fx-background-color:derive(greenyellow,90%);
}

.cell {
    -fx-border-color: dodgerblue;
    -fx-border-width: 1px;
}
.cell-highlight {
    -fx-background-color:derive(dodgerblue,90%);
}
.cell-hover-highlight {
    -fx-background-color:derive(green,90%);
}

.cellAnimal {
    -fx-background-color:derive(sandybrown,90%);
}